/* Author:Emura */
@charset "utf-8";

body{
	background-color:#FFEFD5;
}

#background{
	width:960px;
	min-width:960px;
	margin-right:auto;
	margin-left:auto;
	text-align:center;
	background-color:white;
}

#header{
	/* border-style: solid; */
	/* border:thin black solid; */
	height: 138px;
	text-align:left;
	background-color:white;
}

#indicate{
	height:122px;
	display:block;
}

.logo{
	position:absolute;
	height:100px;
	width:400px;
	margin-left:30px;
	margin-top:10px;
}

.title{
	position:absolute;
	width:512px;
	margin-left:148px;
	margin-top:18px;
	/* font-size:36px; */
}

.status{
	position:absolute;
	border:2px #D2691E ridge;
	padding:6px;
	width:350px;
	margin-left:550px;
	margin-top:80px;
}

.logout{
	position:absolute;
	margin-left:400px;
	margin-top:18px;
	/*right:50px;
	top:25px;*/
	text-align:right;
	width:512px;
}

#pankuzu{
	position:static;
	padding-top:10px;
	padding-left:32px;
	height: 28px;
	bottom:0px;
	text-align:left;
	background-color:#FFDEAD;
}

#mainbody{
	text-align:center;
	padding:24px;
	/*
	 *border-left:3px #D2691E solid;
	 *border-right:3px #D2691E solid;
	 *border-bottom:3px #D2691E solid;
	 */
	background-color:white;
}

#newcomer{
	width:400px;
	height:80px;
	border:4px #D2691E solid;
	line-height:40px;
	text-align:center;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
	padding:24px;
	background-color:#FFDEAD;
}

#button{
	width:500px;
	height:80px;
	/* border:2px #FFDEAD solid; */
	margin:4px auto;
	display:block;
}

#bb{
	opacity:1.0;
}

#bb:hover{
	opacity:0.5;
}

#minibutton{
	/* 新規会員登録、修正する、確認する */
}

.em{
	margin-bottom:px;
}

p{
	font-size:24px;
}

table{
	/*
	 *margin-right:auto;
	 *margin-left:auto;
	 *margin-bottom:20px;
	 */
	margin:20px auto;
}

tr{
	height:40px;
}

th, td{
	border:2px #FFDEAD solid;
	padding:24px;
}